name: CI

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

defaults:
  run:
    shell: bash -xeuo pipefail {0}      

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          persist-credentials: 'false'
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Build artifacts
        run: |
          npm run build:prod:zip:chrome
          npm run build:prod:zip:edge
          npm run build:prod:zip:firefox
          npm run build:prod:zip:opera
          npm run build:prod:zip:safari
          npm run build:prod:zip:samsung
        env:
          ENABLE_CONTRIBUTIONS: false
      - name: Hash artifacts
        run: sha256sum artifacts/*/*
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        # if: startsWith(github.ref, 'refs/tags/v')
        with:
          name: artifacts
          path: artifacts/
          compression-level: 9
          if-no-files-found: 'error'
          retention-days: 0
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifacts
          path: artifacts/
      - name: Hash artifacts
        run: sha256sum artifacts/*/*
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: Learn more about this release from the [changelog](https://github.com/dessant/search-by-image/blob/main/CHANGELOG.md#changelog).
          files: artifacts/*/*
          fail_on_unmatched_files: true
          # draft: true
